.App {
  background-color: #fde8a4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ToDoList {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: auto;
  border-radius: 15px;
  padding: 0 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.ToDoList ul {
  width: 210px;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}
