body {
  background-color: #bfd1d3;
  padding-bottom: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  font-size: 50px;
  margin: 1px;
}
h1 {
  background-color: #2ec3b0;
  color: white;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.name {
  font-size: xx-large;
  color: #45c3a8;
}
.name p {
  margin: 15px;
}
.card {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  width: 30em;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
